Source: ros-verystable-domain-coordinator
Section: misc
Priority: optional
Maintainer: Pete Baughman <pete.baughman@apex.ai>
Build-Depends: debhelper (>= 9.0.0), python3-pytest, ros-verystable-ament-copyright, ros-verystable-ament-flake8, ros-verystable-ament-pep257, ros-verystable-ros-workspace, python3-all, python3-setuptools
Homepage: 
Standards-Version: 3.9.2

Package: ros-verystable-domain-coordinator
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-verystable-ros-workspace
Description: A tool to coordinate unique ROS_DOMAIN_IDs across multiple processes
